/* Container Principal */
.page-container {
  width: 80vw;  /* O container ocupa 80% da largura da página */
  margin: 0 auto;  /* Centraliza o container horizontalmente */
  display: flex;  /* Utiliza Flexbox para organizar o conteúdo */
  flex-direction: column;  /* Organiza o conteúdo verticalmente */
  align-items: center;  /* Centraliza o conteúdo horizontalmente */
  padding: 0px;  /* Define espaçamento interno ao redor do conteúdo */
  background-color: #f9f9f9;  /* Define a cor de fundo do container */
}

/* Estilo geral para o container sobre nós */
.sobre-nos-container {
  padding: 0;  /* Remove qualquer espaçamento interno padrão */
  font-family: Arial, sans-serif;  /* Define a fonte para o texto */
  box-sizing: border-box;  /* Inclui padding e borda no cálculo de largura e altura */
}

/* Altura máxima para todas as seções */
section, .hero-section, .intro-section, .section-how-it-works, .process-section, .verificacao-section, .comunicacao-section, .equipe-section, .desfecho-section {
  max-height: 500px;  /* Define a altura máxima para as seções */
  margin: 0;  /* Remove margens entre as seções */
  display: flex;  /* Utiliza Flexbox para organizar o conteúdo */
  align-items: center;  /* Alinha os itens verticalmente ao centro */
  justify-content: center;  /* Alinha os itens horizontalmente ao centro */
  overflow: hidden;  /* Impede que o conteúdo ultrapasse os limites da seção */
  box-sizing: border-box;  /* Inclui padding e borda no cálculo de largura e altura */
}

/* Seção 1 - Hero Section (Título com Imagem) */
.hero-section {
  position: relative; /* Contêiner relativo para que o h1 fique dentro dele */
  width: 100%;
  height: auto;
}

.hero-section img.flores {
  width: 100%;
  height: auto; /* Ajusta o tamanho da imagem conforme o contêiner */
  display: block;
}

.hero-section h1 {
  position: absolute; /* Faz o h1 flutuar sobre a imagem */
  top: 50%; /* Posiciona no centro verticalmente */
  left: 50%; /* Posiciona no centro horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza de forma exata */
  color: white; /* Altere a cor conforme necessário */
  font-size: 3rem; /* Ajuste o tamanho da fonte conforme sua necessidade */
  text-align: center; /* Centraliza o texto */
  font-weight: bold;
  z-index: 1; /* Garante que o h1 fique acima da imagem */
  margin-bottom: 10px;  /* Margem inferior para o título */
  color: white;  /* Cor do título */
  position: absolute; /* Faz o h1 flutuar sobre a imagem */
  /* border: 1px solid #67171f; */      /* Define uma borda de 3px com a cor #67171f */
  padding: 10px; /* Adiciona um espaçamento entre o texto e a borda */
  /* border-radius: 8px; */ /* Arredonda os cantos da borda */
  background-color: rgba(0, 0, 0, 0.3); /* Fundo semitransparente para destacar o texto */
  width: 90%;
}

/* Seção de Introdução */
.intro-section {
  width: 100%;
  height: 300px;
  background-color: #67171f;  /* Define a cor de fundo da seção */
  color: white;  /* Define a cor do texto para branco */
  text-align: center;  /* Alinha o texto ao centro */
  padding: 10px;  /* Define o espaçamento interno da seção */
}

/* Estilo do texto na seção de Introdução */
.intro-section p {
  font-size: 13px;  /* Define o tamanho da fonte do texto */
  line-height: 1.5;  /* Define o espaçamento entre as linhas do texto */
  margin: 20px auto;  /* Define a margem superior e inferior */
  width: 75%;  /* O texto ocupa 80% da largura disponível */
}

/* Seção de Como Funciona */
.section-how-it-works {
  position: relative;  /* Posiciona a seção de forma relativa */
  width: 100%;  /* A seção ocupa toda a largura da página */
}

/* Banner da seção de Como Funciona */
.banner-section {
  position: relative;  /* Posiciona o banner de forma relativa */
  width: 100%;  /* O banner ocupa toda a largura da seção */
}

.mulheres-unidas {
  width: 100%;  /* A imagem das mulheres unidas ocupa toda a largura */
  height: 300px;  /* A imagem ocupa toda a altura disponível */
  object-fit: cover;  /* Ajusta a imagem proporcionalmente sem distorções */
}

/* Título no banner da seção */
.banner-section h1 {
  position: absolute;  /* Posiciona o título de forma absoluta dentro do banner */
  top: 50%;  /* Centraliza verticalmente */
  left: 50%;  /* Centraliza horizontalmente */
  transform: translate(-50%, -50%);  /* Ajusta a posição para ficar centralizado */
  color: white;  /* Cor do título em branco */
  font-size: 3rem;  /* Tamanho grande para o título */
  font-weight: bold;
  text-align: center;  /* Alinha o título ao centro */
  background-color: rgba(0, 0, 0, 0.3); /* Fundo semitransparente para destacar o texto */
  width: 90%;
  /* border: 1px solid #67171f; */      /* Define uma borda de 3px com a cor #67171f */
  padding: 10px; /* Adiciona um espaçamento entre o texto e a borda */
  /* border-radius: 8px; */ /* Arredonda os cantos da borda */
}

/* Seção de Processo */
.process-section {
  text-align: center;  /* Alinha o conteúdo textualmente ao centro */
  padding: 20px;
  width: 100%;  /* A imagem das mulheres unidas ocupa toda a largura */
  height: auto;
}

/* Texto de introdução da seção de Processo */
.process-content p {
  width: 80%;  /* O texto ocupa toda a largura da seção */
  max-width: 800px;  /* Define uma largura máxima para o texto */
  margin: 0 auto;  /* Centraliza o texto horizontalmente */
  line-height: 1.5;  /* Define o espaçamento entre as linhas do texto */
}

/* Lista de processos com ícones */
.process-list {
  display: grid;  /* Utiliza grid layout para organizar os itens */
  grid-template-columns: repeat(4, 147px);  /* Cria 4 colunas de 147px */
  gap: 10px;  /* Define o espaçamento entre os itens da lista */
  justify-content: center;  /* Centraliza os itens na grid */
  list-style: none;  /* Remove as bolinhas da lista padrão */
  padding: 10px;
}

/* Ícones dos processos */
.process-icon {
  width: 50px;  /* Define a largura dos ícones */
  height: 50px;  /* Define a altura dos ícones */
  object-fit: cover;  /* Ajusta a imagem dos ícones sem distorções */
  margin-bottom: 1px;  /* Espaçamento abaixo dos ícones */
}

/* Texto dos itens na lista de processo */
.process-list p {
  font-size: 12px;  /* Define o tamanho da fonte do texto */
}

/* Seção de Verificação */
.verificacao-section {
  display: flex;  /* Utiliza Flexbox para alinhar o conteúdo */
  align-items: center;  /* Alinha os itens verticalmente ao centro */
  justify-content: center;  /* Centraliza os itens horizontalmente */
  background-color: #67171f;  /* Define a cor de fundo da seção */
}

/* Título e parágrafos na seção de Verificação */
.verificacao-content h3 {
  text-align: center;  /* Alinha o texto ao centro */
  color: white;  /* Define a cor do texto em branco */
  margin: 5;  /* Centraliza o texto horizontalmente */
  line-height: 1.2;  /* Define o espaçamento entre as linhas */
  margin: 0 auto;
}

/* Parágrafos na seção de Verificação */
.verificacao-content p {
  text-align: center;  /* Alinha o texto ao centro */
  color: white;  /* Define a cor do texto em branco */
  line-height: 1.2;  /* Define o espaçamento entre as linhas */
  font-size: 12px;
  margin: 5, auto;
}

/* Imagem na seção de Verificação */
.verificacao-section img {
  width: 50%;  /* A imagem ocupa 50% da largura da seção */
  height: 100%;  /* A imagem ocupa 100% da altura da seção */
  object-fit: cover;  /* Ajusta a imagem proporcionalmente sem distorções */
}

/* Seção de Comunicação */
.comunicacao-section {
  display: flex;  /* Utiliza Flexbox para alinhar o conteúdo */
  justify-content: space-between;  /* Espaça os itens uniformemente na horizontal */
  padding: 0px;  /* Define espaçamento interno ao redor do conteúdo */
}

/* Conteúdo da seção de Comunicação */
.comunicacao-content {
  flex: 1;  /* O conteúdo ocupa o espaço disponível */
}

/* Imagem da seção de Comunicação */
.dignidade {
  width: 50%;  /* A imagem ocupa 50% da largura */
  height: 100%;  /* A imagem ocupa 100% da altura */
  object-fit: cover;  /* Ajusta a imagem sem distorções */
}

/* Título e parágrafos na seção de Comunicação */
.comunicacao-content h3 {
  text-align: center;  /* Alinha o texto ao centro */
  margin: 5;  /* Centraliza o texto horizontalmente */
  line-height: 1.2;  /* Define o espaçamento entre as linhas */
}

/* Parágrafos na seção de Comunicação */
.comunicacao-content p {
  text-align: center;  /* Alinha o texto ao centro */
  margin: 5;  /* Centraliza o texto horizontalmente */
  line-height: 1.2;  /* Define o espaçamento entre as linhas */
  font-size: 14px;
}


/* Seção de Desfecho */
.desfecho-section {
  display: flex;  /* Utiliza Flexbox para alinhar o conteúdo */
  align-items: center;  /* Alinha os itens verticalmente ao centro */
  justify-content: center;  /* Centraliza os itens horizontalmente */
}

/* Imagem na seção de Desfecho */
.desfecho-section img {
  width: 50%;  /* A imagem ocupa 50% da largura */
  height: 100%;  /* A imagem ocupa 100% da altura */
  object-fit: cover;  /* Ajusta a imagem sem distorções */
}

/* Título na seção de Desfecho */
.desfecho-section h3 {
  margin-bottom: 20px;  /* Define a margem inferior do título */
  text-align: center;  /* Alinha o texto ao centro */
}

/* Texto na seção de Desfecho */
.desfecho-section p {
  text-align: center;  /* Alinha o texto ao centro */
  margin: 5;  /* Centraliza o texto horizontalmente */
  line-height: 1.2;  /* Define o espaçamento entre as linhas */
  font-size: 14px;
}
